body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: linear-gradient(#E0FBFC, whitesmoke);
  color: #181760;
}

#root {
  min-height: 100vh;
}

header {
  width: 100%;
  background-image: linear-gradient(to right, #4C4B53, gray);
  color: #98C1D9;
}

section {
  background-color: #98C1D9;
  color: #181760;
  border: 1px solid #181760;
  border-radius: 10px;
  box-shadow: lightgray 10, 10, 10, 10;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 32px;
}

section::after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding-bottom: 16px;
}

.navbar-brand.h1 {
  display: inline-block;
  padding: 12px 32px;
  margin: 0;
  font-size: 32px;
  opacity: 0.8;
}

.navbar-brand.h1:hover {
  opacity: 1;
}

.nav-item {
  margin: 0;
  padding: 1em;
}

.nav-link {
  color: #E0FBFC;
  opacity: 0.8;
}

.nav-link:hover {
  color: #E0FBFC;
  opacity: 1;
}

.nav-link.active {
  opacity: 1;
  border-bottom: 1px solid #E0FBFC;
}

.profile-image {
  display: block;
  float: left;
  width: 200px;
  margin: 0 1em 0 0;
  border-radius: 15px;
}

.project-gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project-gallery li {
  display: inline-block;
  position: relative;
  margin: 20px 10px;
}

.project-image {
  width: 250px;
  border-radius: 10px;
  box-shadow: grey 5px 5px 5px;
}

.project-title {
  background-color: #4C4B53;
  color: #C9E4CA;
  width: 100%;
  position: absolute;
  bottom: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  opacity: 0.95;
}

.project-title:hover {
  background-color: #C9E4CA;
  color: #181760;
  opacity: 0.75;
  font-weight: bold;
}

footer {
  background-image: linear-gradient(to right, #4C4B53, gray);
  color: #98C1D9;
  width: 100%;
  text-align: center;
  border-top: 8px solid #E0FBFC;
  padding-top: 12px;
  flex-shrink: 0;
}

.btn-info {
  background-color: #181760;
}

.carousel-button {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  padding: 2rem;
  bottom: 0;
  background-color: yellow;
  color: black;
}

.slider-image {
  width: 100%;
}

.tns-controls, .tns-nav {
  text-align: center;
}

.tns-controls button {
  background-color: #181760;
  color: #E0FBFC;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
}

.link-contact {
  color: #4C4B53;
}

.link-contact:hover {
  color: #5E0000;
}

.contact-container {
  max-width: 1000px;
}

/****************************************
* MEDIA QUERIES
****************************************/

/*
* 768px or less 
* Set content to 95% 
* re
*/

@media screen and (max-width: 767px) {
  section {
    width: 95%;
    margin: auto;
  }
}

/* 655 to 767 px 
* Manually set the left margin for the navbar to maintain consistency with 
* content container prior to stacking (see below).
*/

@media screen and (min-width:655px) and (max-width: 767px) {
  .navbar-expand-md {
    margin-left: 15px;
  }
}

/* 654px or less (when portfolio gallery no longer holds 2 images per line)
* Stack navbar-brand and nav links
* Resize images
*/

@media screen and (max-width: 654px) {
  .navbar-brand, .navbar-nav {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .nav-item {
    padding-bottom: 0;
    padding-top: 0;
  }
  .profile-image {
    float: none;
    width: 100%;
    margin: 0 0 16px 0;
  }
  .project-image {
    height: 100%;
    width: 100%;
  }
}

/* 576px or less (XS)
* Remove content margins 
*/

@media screen and (max-width: 576px) {
  section {
    width: 100%;
    border-radius: 0;
  }
}